@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/* Common Styles */

h1 {
  font-size: 45px;
  font-weight: 500;
}

h2 {
  font-size: 16px;
}

.fontColor {
  color: #d17701;
}

.fontColor:hover {
  font-size: 1.2rem;
}

a:hover {
  text-decoration: none;
}

/* Box Set-up */

#bigBox {
  font-family: 'Rubik', sans-serif;
  width: 100%;
  height: 100%;
  background-color: #ffed03;
  margin-top: 100px;
  padding-bottom: 25px;
}

#currentLocation {
  color: inherit;
  text-align: center;
  font-size: 32px;
  width: 100%;
  height: 100px;
  margin-top: 50px;
  margin-bottom: 25px;
  margin-left: 25px;s
  margin-right: 25px;
  padding: 0px;
  display: block;
  border: 0px solid white;
  border-radius: 25px;
  background-color: white;
}

#currentLocation:focus {
  border: 0px solid white;
  outline: none;
}


#destination {
  color: inherit;
  text-align: center;
  font-size: 32px;
  width: 100%;
  height: 100px;
  margin-top: 50px;
  margin-bottom: 25px;
  padding: 0px;
  display: inline-block;
  position: relative;
  border: 0px solid white;
  border-radius: 25px;
  background-color: white;
}

#destination:focus {
  border: 0px solid white;
  outline: none;
}

#reset {
  display: inline-block;
  position: relative;
  height: 100px;
  width: 100px;
  background-color: white;
  margin-top: 50px;
  margin-bottom: 25px;
  padding: 0;
  border: 0px solid white;
  border-radius: 25px;
  text-align: center;
}

#reset>i {
  font-size: 50px;
  margin-top: 25px;
  /* transform: translate(0, -50%); */
  transition: transform 2s;
}

#reset>i:hover {
  transform: rotate(360deg);
}

.rectangle {
  min-width: 450px;
  max-width: 450px;
  height: 200px;
  border: 15px solid white;
  background-color: white;
  border-radius: 25px;
  margin: 25px;
}

.square {
  min-width: 200px;
  max-width: 200px;
  height: 200px;
  transition: height 2s ease-in;
  border: 15px solid white;
  background-color: white;
  border-radius: 25px;
  margin: 25px;
}

#allTiles {
  max-width: 1500px;
}

/* Algolia Styling */

.algolia-places {
  style: false
}

.ap-icon-pin, .ap-icon-clear {
  display: none;
}

.ap-icon-clear {
  right: 10px;
}

 {
  display: none;
}


/* Toggle */

#localHeader {
  display: block;
}
#destHeader {
  display: none;
}

#allTiles {
  display: none;
}

#weatherChart {
  display: none;
}

#flightCostBox {
  display: none;
}

/* Weather Chart Graph */



#weatherChartContainer {
  position: relative;
  margin: auto;
  top: 12px;
  height: 90%;
  width: 85%;
  }

#myChart {
}

/* Month Box */
#month {
  display: none;
}

#monthName {
  text-align: center;
  margin-top: 50%;
  transform: translate(0, -50%);
}

#month h1, i {
  display: inline-block;
  vertical-align: middle;
  margin: 10px 3px;
}

#monthName h1 {
  font-size: 50px;
  font-weight: 500;
}

#monthName i {
  font-size: 60px;
}

#monthName i:hover {
  font-size: 70px;
}

#month h2 {
  margin-top: -30%;
  text-align: center;
}

#fullDate {
  display: none;
}

/* Average Temperature Box */

#aveTemp {
  display: none;
}

#aveTempAlign {
  text-align: center;
  margin-top: 50%;
  transform: translate(0, -50%);
}

#aveTemp h1 {
  font-size: 60px;
}

/* Today Temp Box */

#todayTemp {
  display: none;
}

#todayTempAlign{
  text-align: center;
  margin-top: 50%;
  transform: translate(0, -50%);
}

#todayTempAlign h1{
  font-size: 55px;
  margin: -20px;
}

#todayTempAlign h2{
  font-size: 30px;
}

#todayTemp img {
  height: 60px;
  width: 60px;
}

/* Map Tile */

#mapBox {
  display: none;
  border: 0px solid white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}


/* Flight Cost Box */

#flightCostBoxAlign {
  text-align: center;
  margin-top: 50%;
  transform: translate(0, -50%);
}

#flightCostBoxAlign i {
  font-size: 60px;
  color: rgb(179, 179, 179);
}

#flightCostBoxAlign i:hover {
  font-size: 72px;
}

#flightCostBoxAlign h1 {
  font-weight: 600;
}

#imageBox {
  border: 0px solid white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#noFlightPrice {
  display: none;
  font-size: 16px;
}

/* Photo Tile Box */
#imageBox {
  display: none;
}

#imageForward {
  font-size: 150px;
  margin: 0;
  padding-top: 25px;
  right: 5%;
  position: absolute;
  color: rgba(255, 255, 255, 1);
  opacity: 0;
  transition: opacity 0.25s;
}

#imageBack {
  font-size: 150px;
  margin: 0;
  padding-top: 25px;
  left: 5%;
  position: absolute;
  color: rgba(255, 255, 255, 1);
  opacity: 0;
  transition: opacity 0.25s;
}

#imageBack:hover,
#imageForward:hover {
  opacity: 0.5;
}

#imageBack:active,
#imageForward:active {
  opacity: 0.7;
}